<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    <h2>Application<br> Login Page</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form   #userRegister="ngForm"   (ngSubmit)="onSubmit(user)">
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" class="form-control" [(ngModel)]="user.fullname" [ngModelOptions]="{standalone: true}"   placeholder="Full Name">
        </div>
        <div class="form-group">
          <label>email</label>
          <input type="text" class="form-control" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="User Name">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="user.password"[ngModelOptions]="{standalone: true}" placeholder="Password">
        </div>
        <button class="btn btn-black">Login</button>
        <button type="submit" [disabled]="userRegister.invalid" class="btn btn-secondary">Register</button>
      </form>
    </div>
  </div>
</div>
